{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div style="padding: 1rem;">
  <h1>All Posts</h1>
    <hr>  
</div>
    
    {% if user.is_authenticated %}
    <div id="new_post">
    <div class="form-control">
        <form id="post-form">
            <label for="post-body" class="form-label"><h4>New Post</h4></label>
            <textarea class="form-control" id="post-body"></textarea>
            <input type="submit" class="btn btn-primary" value="Post"/>
        </form>
        <div class="alert alert-success" role="alert" id="success">
        </div>
        <div class="alert alert-warning" role="alert" id="warning">
        </div>
    </div>
    </div>       
    {% endif %}
    <div id="d_post">
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}