#new_post > div, #d_post > div {
    width:auto;
    height:fit-content;
    padding: 1rem;
    margin: 1rem;
}

#f_count {
    width:auto;
    height:fit-content;
    padding: 1rem;
    margin: 1rem;
}

#d_post > div > p {
    word-wrap: break-word;
    height: fit-content;
}

#follow, #following {
    width: 100px;
    height: fit-content;
    border-radius: 5px 25px;
    display: none;
}

#pg {
    position: fixed;
    bottom: 0;
    right: 0;
    color: black;
    font-weight: bold;
    background-color: lightgrey;
}

#pagination > li > a {
    font-weight: bold;
    margin-bottom: 25px;
    background-color: lightgray;

}

#pagination > li > a:hover {
    background-color:darkgrey;

}